@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Taviraj:wght@600&display=swap');

/* Underline Effect*/
.nav-item {
    position: relative;

}

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: antiquewhite;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #23233b;
    text-decoration: none;
    background-color: #c9b9a8;
}

.dropdown-menu {
    border: 4px solid #23233b;
    background: antiquewhite;
}

/* General Styles*/
.navBar{
    font-family: Karla;
    font-size: 16px;
    background: antiquewhite;
}
