@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Taviraj:wght@600&display=swap');
.my-row{
    height:500px;
    width: 100%;


}

.home-link{
    height: 60px;
    width:60px;
    transition: all 2s ease;
}
.menuliststuff{
    text-align: center;
}
.home-link:hover{
    transform: scale(1.4);
}
.mainnav{
    background: #60D394;
}
.outputside {
    background: blanchedalmond;
    height:500px;
    width:100%;

    padding-right: 0;
    padding-left: 0;
}
.maincol{
    width:100%;
    padding-right:0;
    padding-left: 0;
}
.filler-col{
    height: 20px;
}
.description{
    width: 100%;
    height: 90px;
    background: antiquewhite;
    text-align: center;
}
.leftside, .rightside{
    width:100%;
    padding-left: 0;
}
.leftside{
    height: 100px;
}
.rightside{
    height: 700px;
    background: #354d7b;
    padding-right: 0;
}
.outputScreen{
    height:100%;
    width:100%;
    font-family: Karla;
    border:4px dashed #23233b;
    color: #23233b;
    background: #f6ecec;
    text-align: start;
    top: 0;
    resize: none;
}
.CompileButton{
    width:100%;
    height:100%;
    border: transparent;
    background: #d75f5f;
    font-family: "Oswald";
    font-size: 40px;
    color: #23233B;
    transition: all 0.5s ease;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}
.CompileButton:hover{
    background: #9a4444;
    transform: scale(1.03);
    color: #e7e6cb
}
#editor {
    position: absolute;
    top: 0;
    right: 0%;
    bottom: 0;
    left: 0;
}
#compilescreen{
    background: black;
    height: 109%;
    width: max-content;
    top: 0;
    right:0;
    bottom:0;
    left:0;
}
.mainNavBar{
    background: #23233b;
    font-family: Karla;
}
.listOfMenus{
    font-family: Karla;
}
.mainbod{
    background: #d7ebf5;

}
.fadeCont{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.page-footer{
    background: #23233B;
    font-family: Karla;
    color: #C5C6C6;
}
.links{
    color: #C5C6C6
}
.headerRow{
    background: url("https://media0.giphy.com/media/xT9IgzoKnwFNmISR8I/200.webp?cid=ecf05e47953b3fe72763e2634b5c74d4ee5366e130c87461&rid=200.webp");
    #background: #3a3a5f;
    height: 100px;
    align-items: center;
}
.columnHeader{
    font-family: Karla;
    background: antiquewhite;
    text-align: center;
    color: #23233B;
    height: 80px;
    transition: all 1s ease;
}
.columnHeader:hover{
    transform: scale(1.05);
}
.ProjectsTab{
    height:30%;
}
.card {
    background-color: antiquewhite;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
    border:transparent;
    font-family: Karla;
    text-align: center;
    width: 100%;
    height:100%;
}

.tab-card-header {
    background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
    border: none;
    margin: 0px;
}
.tab-card-header > .nav-tabs > li {
    margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
    border: 0;
    border-bottom:2px solid transparent;
    margin-right: 0;
    color: #23233b;
    padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #23233B;
    color: #23233B;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #23233B;
}

.tab-card-header > .tab-content {
    padding-bottom: 0;
}
.projectButton{
    background: #354d7b;
}
.tabContent{
    color: #23233b;
}
.instructionsCard{
    background:antiquewhite ;
    color: #23233b;
    font-family: Karla;
    text-align: center;
    border: transparent;
    box-shadow: #d5c9b8;
}
.colButton{
    height:120px;
    width: 100%;
}

.linksColFooter, .Links{
    color: #23233B;
    font-family: Karla;
}
.FOOTER{
    background: antiquewhite;
    border: 2px solid #23233B;
}
.codeTitle{
    color: #23233B;
    background: #d9cbbc;
    font-family: Karla;
    font-size: 20px;
    border: transparent;
    text-align: center;
}
.editImage{
    height:15px;
    width:15px;
}
.headerEditor{
    font-size: 30px;
    font-family: Karla;
    color: #23233b;
}
.headerCard{
    background: antiquewhite;
    font-size: 20px;
    text-align: center;
    border: none;
}
.HRROW{
    background: #23233b;
    height: 10px;
}
.projectLoadButtons{
    width: 100%;
    height: 9.08%;
    background: #23233b;
    color: antiquewhite;
    border: 0.5px solid #555593;
    transition: all ease 1s;
}
.projectLoadButtons:hover{
    background: #60D394;
    transform: scale(1.01);
}


.POPUP{
    text-align: center;
}

.close{
    margin-left:-90%;
    margin-top:1%;
}

.modal-body{
    text-align: center;
}
