<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Lesson</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="../navbarCSS.css">
    <link rel="stylesheet" href="viewlesson.css" type="text/css">
    <link rel="icon" href="../LogoWithoutWords.png">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js "></script>
    <script src="../FirebaseCode.js"></script>
    <script src="../redirectToLogin.js"></script>
</head>
<body ng-app="myApp" style="background: antiquewhite">
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navBar" ng-controller = "myCont1" style="background: #23233b">
    <a href = "#"><img id = "logo" ng-src={{logo}} style="height: 80px"></a>
    <a class="navbar-brand" href="#" ng-model="websiteTitle" style="font-size: 20px">{{websiteTitle}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #23233b">----</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id = "m1" href="#" ng-model = "menuName1">{{menuName1}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "m2" href="#" ng-model = "menuName2"> {{menuName2}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "m4" href="#" ng-model = "menuName4">{{menuName4}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{menuName3}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-model = "menuName5" id="m5">{{menuName5}}</a>
                    <a class="dropdown-item" href="#" ng-model = "menuName6" id = "m6">{{menuName6}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class = "btn btn-primary registerButton" id="RegisterNow" onClick = "registerNow()" style="background: antiquewhite; color: #23233b; border: transparent">Register Now</button>
            </li>
            <li class="nav-item">
                <button class = "btn btn-primary registerButton" id="SignUpForFree" onClick = "signUpNow()" style="background: antiquewhite; color: #23233b; border: transparent">Sign Up for a Free Trial</button>
            </li>
            <li class="nav-item">
                <a style="color: #23233b">------------</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{dropdownName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="" id="s1">{{sand1}}</a>
                    <a class="dropdown-item" href="" id = "s2">{{sand2}}</a>
                    <div class="dropdown-divider" id="divider1"></div>
                    <a class="dropdown-item" href="" id="d1">{{dropdown1}}</a>
                    <!--                    <a class="dropdown-item" href="" id = "d2">{{dropdown2}}</a>-->
                    <div class="dropdown-divider" id="divider2"></div>
                    <!--                    <a class="dropdown-item" href="" id="d3">{{dropdown3}}</a>-->
                    <a class="dropdown-item" onclick="SignOut()" href="" id="d4">{{dropdown4}}</a>
                    <a class="dropdown-item" href="" id="d5">{{dropdown5}}</a>
                    <a class="dropdown-item" href="" id="d6">{{dropdown6}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a style="color: #23233b">------------</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
    <br />
    <div class="container" ng-controller="AppController">
        <div class="grid row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-white bg-dark mb-3">
                        <li class="breadcrumb-item"><a>Course Directory</a></li>
                        <li class="breadcrumb-item"><a>{{course.name}}</a></li>
                        <li class="breadcrumb-item"><a>{{unit.name}}</a></li>
                        <li class="breadcrumb-item"><a>{{name}}</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="stickyCardContainer sticky-top">
                    <button class="btn btn-dark btn-lg btn-block" ng-click="visitCourseDirectory()" style="width: 100%; margin-bottom: 16px;">< Course Directory</button>
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                    <div class="list-group text-white mb3">
                        <div class="list-group-item bg-dark">{{submissionStatusCounts['Correct']}} Correct Submissions</div>
                        <div class="list-group-item bg-dark">{{submissionStatusCounts['Incorrect']}} Incorrect Submissions</div>
                        <div class="list-group-item bg-dark">{{submissionStatusCounts['Not Graded Yet']}} Submissions Pending Grading</div>
                        <div class="list-group-item bg-dark">{{submissionStatusCounts['Not Submitted Yet']}} Unfinished Assignments</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="list-group text-white mb-3">
                    <a class="list-group-item bg-dark">
                        <div class="d-flex w-100 justify-content-between">
                            <b>Assignments</b>
                        </div>
                    </a>
                    <a class="list-group-item bg-dark" ng-show="assignments.length === 0">
                        <p class="mb-1">There are no assignments for this lesson!</p>
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark assignmentListGroupItem"
                       ng-repeat="assignment in assignments"
                       href="{{homeworkURL(assignment.id, assignment.userAssignment.id, assignment.language)}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><b>{{assignment.name}}</b></h5>
                        </div>
                        <p class="mb-1">{{assignment.description}}</p>
                        <small class="text-muted">{{assignmentStatus(assignment.userAssignment.completed, assignment.userAssignment.status)}}</small>
                        <svg class="bi bi-arrow-right-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8.354 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z"/>
                        </svg>
                    </a>
                </div>
                <div class="list-group text-white mb-3">
                    <a class="list-group-item bg-dark">
                        <div class="d-flex w-100 justify-content-between">
                            <b>Resources</b>
                        </div>
                    </a>
                    <a class="list-group-item bg-dark" ng-show="resources.length === 0">
                        <p class="mb-1">There are no resources for this lesson!</p>
                    </a>
                    <a
                        class="list-group-item list-group-item-action bg-dark"
                        ng-repeat="resource in resources"
                        href="{{resource.link}}"
                        target="_blank">
                        <table>
                            <tr>
                                <td class="resourceIconCell">
                                    <svg ng-show="resource.type === '1'" class="bi bi-justify-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                    <svg ng-show="resource.type === '2'" class="bi bi-camera-video" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.667 3.5c-.645 0-1.167.522-1.167 1.167v6.666c0 .645.522 1.167 1.167 1.167h6.666c.645 0 1.167-.522 1.167-1.167V4.667c0-.645-.522-1.167-1.167-1.167H2.667zM.5 4.667C.5 3.47 1.47 2.5 2.667 2.5h6.666c1.197 0 2.167.97 2.167 2.167v6.666c0 1.197-.97 2.167-2.167 2.167H2.667A2.167 2.167 0 0 1 .5 11.333V4.667z"/>
                                        <path fill-rule="evenodd" d="M11.25 5.65l2.768-1.605a.318.318 0 0 1 .482.263v7.384c0 .228-.26.393-.482.264l-2.767-1.605-.502.865 2.767 1.605c.859.498 1.984-.095 1.984-1.129V4.308c0-1.033-1.125-1.626-1.984-1.128L10.75 4.785l.502.865z"/>
                                    </svg>
                                    <svg ng-show="resource.type === '3'" class="bi bi-file-earmark-text" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                    <svg ng-show="resource.type === '4'" class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                        <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                        <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                                    </svg>
                                    <span class="iconLabel">{{resourceType(resource.type)}}</span>
                                </td>
                                <td>
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{resource.name}}</h5>
                                    </div>
                                    <p class="mb-1">{{resource.description}}</p>
                                </td>
                            </tr>
                        </table>
                        <svg ng-hide="resource.type === '1'" class="bi bi-arrow-right-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8.354 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

    <script src="../navigationLinks.js"></script>
    <script src="viewlesson.js"></script>
</body>
</html>
