<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type="text/css" href = "registration.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel = "stylesheet" type="text/css" href="../navbarCSS.css">
    <link rel="icon" href="../LogoWithoutWords.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="../FirebaseCode.js"></script>
    <script src="../redirectToLogin.js"></script>
    <script src="../navigationLinks.js"></script>
    <title>Registration page</title>
</head>
<body class="mainbod" ng-app = "myApp" id = "mainBod" ng-controller = "RegistrationForm" style="font-family: Karla" >

<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navBar" ng-controller = "myCont1" style="background: #23233b">
    <a href = "#"><img id = "logo" ng-src={{logo}} style="height: 80px"></a>
    <a class="navbar-brand" href="#" ng-model="websiteTitle" style="font-size: 20px">{{websiteTitle}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #23233b">----</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id = "m1" href="#" ng-model = "menuName1">{{menuName1}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "m2" href="#" ng-model = "menuName2"> {{menuName2}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "m4" href="#" ng-model = "menuName4">{{menuName4}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{menuName3}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-model = "menuName5" id="m5">{{menuName5}}</a>
                    <a class="dropdown-item" href="#" ng-model = "menuName6" id = "m6">{{menuName6}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class = "btn btn-primary registerButton" id="RegisterNow" onClick = "registerNow()" style="background: antiquewhite; color: #23233b; border: transparent">Register Now</button>
            </li>
            <li class="nav-item">
                <button class = "btn btn-primary registerButton" id="SignUpForFree" onClick = "signUpNow()" style="background: antiquewhite; color: #23233b; border: transparent">Sign Up for a Free Trial</button>
            </li>
            <li class="nav-item">
                <a style="color: #23233b">------------</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{dropdownName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="" id="s1">{{sand1}}</a>
                    <a class="dropdown-item" href="" id = "s2">{{sand2}}</a>
                    <div class="dropdown-divider" id="divider1"></div>
                    <a class="dropdown-item" href="" id="d1">{{dropdown1}}</a>
                    <!--                    <a class="dropdown-item" href="" id = "d2">{{dropdown2}}</a>-->
                    <div class="dropdown-divider" id="divider2"></div>
                    <!--                    <a class="dropdown-item" href="" id="d3">{{dropdown3}}</a>-->
                    <a class="dropdown-item" onclick="SignOut()" href="" id="d4">{{dropdown4}}</a>
                    <a class="dropdown-item" href="" id="d5">{{dropdown5}}</a>
                    <a class="dropdown-item" href="" id="d6">{{dropdown6}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a style="color: #23233b">------------</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<div class="jumbotron jumboCont jumbotron-fluid " data-aos="fade-down">
    <div class="container">
        <div class = "col-6 jumboWordShape align-content-center ml-auto">
            <br>
            <h2 style = "font-size: 40px;"><u>REGISTER NOW</u></h2><br>
            <br>
        </div>
    </div>
</div>

<div class ="hero">
    <div class="form-box">
        <form id="Page1" >
            <div class="formcontainer1" id="formcontainer1">
                <h3 style="text-align: center; --fontSize:32; line-height: 1.5;" data-fontsize="32" data-lineheight="48px" class="fusion-responsive-typography-calculated"><span style="color: #000000;">Welcome to Codeology!</span></h3>
                <p style="text-align: center;"><span style="color: #000000;">Ready to get started? It will only take a few minutes to fill out this form so an educational specialist can reach you. <br><br>The process is simple! Register for a course first, then decide on a schedule tailored for your educational experience!</span></p>
                <input id= "FirstName" type="text" class ="input-field" placeholder="(Parent's) First Name" required>
                <input id= "LastName" type="text" class ="input-field" placeholder="(Parent's) Last Name" required>
                <input id= "Email" type="text" class ="input-field" placeholder="(Parent's) Email" required>
                <input id = "Phone" type="tel" class = "input-field" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Parent Phone Number" required>
                <br><br>
                <p style="font-size: 12px;">By submitting, you consent to receiving email communication from Codeology for the purposes of providing more information about our services.&nbsp;</p>
                <div class="center">
                    <div class="btn" id="btn1">
                        <button type="button"  class="nextbtn"onclick="next1()">Next</button>
                    </div>
                </div>

            </div>
        </form>
        <form id="Page2">
            <div class="formcontainer2" id="formcontainer2">
                <h3 style="text-align: center; --fontSize:32; line-height: 1.5;" data-fontsize="32" data-lineheight="48px" class="fusion-responsive-typography-calculated"><span style="color: #000000;">Student Information</span></h3>
                <input type="text" id="fname" class ="input-field" placeholder="First Name" required>
                <input type="text" class ="input-field" placeholder="Last Name" required>
                <input type="text" class ="input-field" placeholder="Student's Email (Optional)">
               <div class="age1">
                   <label for ="age"> Student Age </label>
                       <input id ="age" type="number" min="1" max="100" required><br>
               </div>
                <div class="grade1">
                    <label for ="grade"> Grade </label>
                    <select id="grade" name="Grade" required>
                        <option value="Select"> Select </option>
                        <option value="K"> K </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                        <option value="6"> 6 </option>
                        <option value="7"> 7 </option>
                        <option value="8"> 8 </option>
                        <option value="9"> 9 </option>
                        <option value="10"> 10 </option>
                        <option value="11"> 11</option>
                        <option value="12"> 12 </option>
                    </select>
                </div>
                <br>
                <br>

                <div class="center">
                    <div class="btn" id="btn2">
                        <button type="button" class="previousbtn" onclick="previous1()">Previous</button>
                        <button type="button"  class="nextbtn"onclick="next2()">Next</button>
                    </div>
                </div>
            </div>
            </form>
        <form id="Page3">
            <div class="formcontainer3" id="formcontainer3">
                <h3 style="text-align: center; --fontSize:32; line-height: 1.5;" data-fontsize="32" data-lineheight="48px" class="fusion-responsive-typography-calculated">Thank you! How much coding experience does the student have? </h3>
                    <div></div>
                <br>
                <div class="inp">
                    <input type="radio" id="codeexperience1" name="codeexperience" value="none">
                    <label for="codeexperience1">None</label><br>
                    <input type="radio" id="codeexperience2" name="codeexperience" value="1-6 Months">
                    <label for="codeexperience2">1-6 Months</label><br>
                    <input type="radio" id="codeexperience3" name="codeexperience" value="Over 6 months">
                    <label for="codeexperience3">Over 6 months</label><br>
                    <input type="radio" id="codeexperience3" name="codeexperience" value="not sure">
                    <label for="codeexperience3">Not sure</label> <br>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="center">
                    <div class="btn" id="btn3">
                        <button type="button" class="previousbtn" onclick="previous2()">Previous</button>
                        <button type="button"  class="nextbtn" ng-click="getCourseName(3)">Next</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="Page4">
            <div class="formcontainer4" id="formcontainer4">
                <h3 class="txt1"> Do you have access to the following:</h3>
                <p style="font-size: 12px; text-align: center;">Please note: desktop or laptop computer is required. Chromebooks and tablets are not compatible.</p>
                <div class="table1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> </th>
                            <th>Yes</th>
                            <th>No</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Desktop/Laptop computer</td>
                            <td><input name="do_you_have_the_following[Desktop/Laptop computer]" type="radio" value="Yes"></td>
                            <td><input name="do_you_have_the_following[Desktop/Laptop computer]" type="radio" value="No"></td>
                        </tr>
                        <tr>
                            <td>High-speed Internet</td>
                            <td><input name="do_you_have_the_following[High-speed Internet]" type="radio" value="Yes"></td>
                            <td><input name="do_you_have_the_following[High-speed Internet]" type="radio" value="No"></td>
                        </tr>
                        <tr>
                            <td>Zoom/Google Meets</td>
                            <td><input name="do_you_have_the_following[Zoom]" type="radio" value="Yes"></td>
                            <td><input name="do_you_have_the_following[Zoom]" type="radio" value="No"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="center">
                    <div class="btn" id="btn4">
                        <button type="button" class="previousbtn" onclick="previous3()">Previous</button>
                        <button type="button"  class="nextbtn" ng-click="getCourseName(4)">Next</button>
                    </div>
                </div>
            </div>
            </form>
        <form name="Page5" >
            <div class="formcontainer5" id="formcontainer5">
                <br>
                    <h3 style="text-align: center; --fontSize:32; line-height: 1.5;" data-fontsize="32" data-lineheight="48px" class="fusion-responsive-typography-calculated"><span style="color: #000000;">Which course would you like to register for?</span></h3>
                    <!--<button ng-click="getCourseName(1)">Load classes</button>-->
                <div class = "row justify-content-around">
                    <div class = "col-8" style="text-align: center">
                        <select id="courseselect" name="CourseSelect" ng-model="courseValue" ng-options = "course as (course) for course in courseNames" class="show-tick" style="width: 100%; text-align: center;font-family: Karla;background: #faf7f4;color: #23233b;font-size: 18px; height: 40px;border-radius: 15px;">
                            <option id="SelectedCourse" value= "{{course}}" ></option>
                        </select>
                    </div>
                </div>
                <br><br>
                <div class = "row justify-content-around" >
                    <div class = "col-8" style="text-align: center;color: antiquewhite; border-radius: 15px; background: #4b4b7d">
                        <h4><b><u>Course Selected:</u></b></h4>
                        <h6 ng-bind = "courseValue">{{courseValue}}</h6>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="center">
                    <div class="btn" id="btn5">
                        <button type="button" class="previousbtn" onclick="previous4()">Previous</button>
                        <button type="button"  class="nextbtn" onclick="next5()">Next</button>
                    </div>
                </div>
            </div>
            </form>

        <div class="modal fade" id="x" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
            <div class="modal-dialog" role="document" style="width: 150%">
                <div class="modal-content"  style="background: antiquewhite">
                    <div class="modal-header" style="text-align: center">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: Karla;text-align: center; color: #23233b;">Scheduling</h5>
                    </div>
                    <div class="modal-body">
                        <h6 style="font-family: Karla;text-align: center; color: #23233b;">See what class suits your availability and preference- then choose! If you cannot find a class to suit your preferences, <a href="../ContactPage/contact.html">Contact Us!</a> </h6><br>
                        <h3 style="color: #23233b; font-family: Karla;text-align: center">Available Classes</h3>
                        <div  ng-repeat = "class in classes">
                            <div class = "row justify-content-around">
                                <div class = "col-10">
                                    <a href ng-click="setUsertoClass(class)">
                                        <div class="card stretched-link schedule" style="background: #23233b">
                                            <div class="card-body">
                                                <div class = "container">
                                                    <div class = "row justify-content-around" style="background: #48486d; border-radius: 15px;">
                                                        <div class = "col-12"><h4 class = "card-title">Class Name:<br><b>{{class.data().name}}</b></h4></div>
                                                    </div>
                                                </div>
                                                <br>

                                                <div class = "row justify-content-around" style="border-radius: 15px; background: #48486d;">
                                                    <div ng-repeat = "day in class.data().selectedDates">
                                                        <small style="font-family: Karla">{{day}}</small>
                                                    </div>
                                                </div>
                                                <br>

                                                <div class = "row justify-content-around">
                                                    <div class = "col-12"><p class="card-text" style="text-align: center">
                                                        Timing (EST): <br><b>{{class.data().startTime.seconds* 1000 | date:'h:mm:ss'}} to {{class.data().endTime.seconds* 1000 | date:'h:mm:ss'}}
                                                    </b></p></div>
                                                </div>
                                                <br>
                                                <h6 style="text-align: center">Class Description:<br><b>{{class.data().description}}</b></h6>
                                                <br>
                                                <div class = "row justify-content-around" style="text-align: center">
                                                    <div class = "col-6">Taught by: <b>{{class.data().teacher}}</b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <br>
                            </a>
                        </div>
                    </div>
<!--                    <button type="button"  class="btn btn-primary" onclick="OpenPaypal()" >Submit & Pay</button>-->
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 90%; background: #23233b;color: antiquewhite;font-family: Karla">
                        Close (by closing this tab, you have not chosen a class yet)
                    </button>
                    <br>
                </div>
            </div>
        </div>

        <form name="Page6">
            <div class="formcontainer6" id="formcontainer6" >
                <h3 style="text-align: center; --fontSize:32; line-height: 1.5;" data-fontsize="32" data-lineheight="48px" class="fusion-responsive-typography-calculated"><span style="color: #000000;">Schedule, Pay, & Finish</span></h3>
                <div class = "container">
                    <h5 style="font-family: Karla; color: #23233b;">Choose your class dates and timings based on available classes!</h5><br>
                    <div class = "row justify-content-around">
                        <div class = "col-8" style="text-align: center">
                            <button onclick="forClasses()" style="width: 100%; background: #23233b; color: antiquewhite; font-family: Karla;font-size: 20px;border-radius: 15px">Choose Schedule</button>
                        </div>
                    </div>
                </div>
                <br>
                    <h6 style="font-family: Karla; color: #23233b;text-align: center">If there are no available classes, don't worry! <a href="../ContactPage/contact.html">Contact us</a> and we can sort it out for you. </h6>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="center">
                        <div class="btn" id="btn7">
                            <button type="button" class="previousbtn" onclick="previous5()">Previous</button>
                        </div>
                    </div>
<!--                    <button type="button"  onclick="submitRegistration()" class="submit">Submit & Pay</button>-->
<!--                 <button type="button"  onclick="submitRegistration()" class="submit">Submit & Pay</button>-->
            </div>
            </form>
    </div>
</div>
<br>
<br><br><br><br><br>
<div class="txt1">
    <h5>Before registering for a course, make sure that you've completed your demo class!</h5>
    <h5> Any Questions? Feel free to contact us at savingbycoding@gmail.com and we'll be sure to get back to you promptly!</h5>
</div>
<br>

<footer id="sticky-footer" class="py-4  FOOTER text-white-50" ng-controller = "MyCont2" style="border-top: 10px solid #23233b">
    <div class="container  text-center">
        <div class = "row">
            <div class = "col-4" style="font-family:Karla;color: #23233b">
                <h5>2020 Copyright: Saving By Coding</h5>
                <p>Make a difference in your life</p>
            </div>
            <div class = "col-4 linksColFooter">
                <small><a class = "Links" href="#" id = "f1" mg-model = "footerMenuName1">{{footerMenuName1}}</a></small><br>
                <small><a class = "Links" href="#" id = "f2" mg-model = "footerMenuName2">{{footerMenuName2}}</a></small><br>
                <small><a class = "Links" href="#" id = "f3" mg-model = "footerMenuName3">{{footerMenuName3}}</a></small><br>
                <small><a class = "Links" href="#" id = "f4" mg-model = "footerMenuName4">{{footerMenuName4}}</a></small><br>
                <small><a class = "Links" href="#" id = "f5" mg-model = "footerMenuName5">{{footerMenuName5}}</a></small><br>
                <small><a class = "Links" href="#" id = "f6" mg-model = "footerMenuName6">{{footerMenuName6}}</a></small><br>
                <small><a class = "Links" href="#" id = "f7" mg-model = "footerMenuName7">{{footerMenuName7}}</a></small><br>
            </div>
            <div class = "col-4"></div>
        </div>
    </div>
</footer>
</body>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>-->
<script src="registration.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
</html>
