.eventContainer {
    position: relative;
}

.eventName {
    text-transform: uppercase;
    margin-bottom: 0px !important;
    color: white !important;
}

.eventTime {
    margin-bottom: 8px !important;
    font-size: 13px;
}

.eventDescription {
    font-size: 14px;
}

.arrowIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #faebd7;
    transition: 0.2s ease color;
    cursor: pointer;
}

.arrowIcon:hover {
    color: rgba(250, 235, 215, 0.6);
}

.arrowIcon:active {
    color: rgba(250, 235, 215, 0.3);
}

a {
    text-decoration: none !important;
}

.linkCard {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease all;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.linkCard h6 {
    margin-bottom: 0;
}

.linkCard:hover {
    background: #999 !important;
}

.linkCard:active {
    background: #BBB !important;
}

.linkCard .bi-arrow-right-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    opacity: 0;
    float: right;
    transition: 0.2s ease all;
}

.linkCard:hover .bi-arrow-right-circle {
    opacity: 1;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.upEv{
    z-index: 1;
}
#t2{
    display: none;
}
.textSpot{
    font-family: Karla;
    color: #23233b;
    text-align: center;
    display: none;
}
#t3{
    display: none;
    z-index: 10001;
}
.display {
    pointer-events: none;
    cursor: default;
}

.nextButton{
    z-index: 1000;
}
#t3Box {
    display: none;
    z-index: 10001;
}
#t4{
    display: none;
    z-index: 10001;
}
#t4Box {
    display: none;
    z-index: 10001;
}

#t5{
    display: none;
    z-index: 10001;
}
#t5Box {
    display: none;
    z-index: 10001;
}

#t6{
    display: none;
    z-index: 10001;
}
#t6Box {
    display: none;
    z-index: 10001;
}
#t7{
    display: none;
    z-index: 10001;
}
#t7Box {
    display: none;
    z-index: 10001;
}
#t8{
    display: none;
    z-index: 10001;
}
#t8Box {
    display: none;
    z-index: 10001;
}
#t9{
    display: none;
    z-index: 10001;
}
#t9Box {
    display: none;
    z-index: 10001;
}
#t10{
    display: none;
    z-index: 10001;
}
#t10Box {
    display: none;
    z-index: 10001;
}

.buttonTut{
    background: #877459;
    font-family: Karla;
    color: #23233b;
    border: 3px solid #23233b;
    width: 100%;
    transition: all 1s ease;
}
.buttonTut:hover{
    background: antiquewhite;
}
.btn-primary{
    background: antiquewhite;
    border: #23233b 2px solid;
    font-family: Karla;
    color: #23233b;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.buttonStuff{
    background: transparent;
    font-family: Karla;
    color: #FFFFFF;
    border: 3px solid #ffffff;
    transition: all 0.5s ease;
    border-radius: 10%;
}
.buttonStuff:hover{
    background: #66696d;
}

#t{
    display: none;
    z-index: 10001;
}
#tBox {
    display: none;
    z-index: 10001;
}
/*nav*/
@media(min-width:87.9375em) {
    .page-header {
        grid-template-columns:20px 2fr 350px 80px;
        grid-column:2/4;
    }
    .page-header #main-nav1
    {
        grid-row:1/2;
        grid-column:2/3;
    }
    .page-header .header-search
    {
        grid-column:2/4;
    }
    .page-header .auth-container{
        grid-column:4/5;
    }
    #hamburg
    {
        display:none;
    }
    #HiddenRegister
    {
        display:none;
    }
    #HiddenSignUp
    {
        display:none;
    }
}

@media(min-width: 63.9875em) {
    .main-menu{
        padding:0;
    }
    .header-search
    {
        max-width:200px;
    }
}
@media(min-width:47.9385em) {
    .auth-container{
        margin-top:20px;
    }
    .dropdown-container .dropdown-menu-label
    {
        padding:0 5px 5px;
    }
    .page-header
    {
        grid-template-columns: 40px 2fr 80px;
        align-items:center;
    }
    .page-header .logo1
    {
        grid-row:1/2;
        grid-column:1/2;
    }
    .page-header .main-nav{
        grid-row:2/3;
        grid-column:1/4;
    }
    .main-menu{
        position:relative;
        top:inherit;
        display:flex;
        justify-content: space-evenly;
        width:inherit;
        height:inherit;
    }
    .main-menu-toggle{
        display:none;
    }
    .page-header .header-search{
        grid-row:1/2;
        grid-column:2/3;
        justify-self:right;
    }
    .page-header .auth-container{
        grid-row:1/2;
        grid-column:3/4;
    }
    #hamburg
    {
        display:none;
    }
    #HiddenRegister
    {
        display:none;
    }
    #HiddenSignUp
    {
        display:none;
    }
}
@media(max-width:47.9385em) {

    .main-nav
    {
        grid-template-columns: 165px 2fr 80px;
        grid-column:1/4;

    }
    #navbarSupportedContent20{
        transition: all ease 1s;

    }
    .page-header .auth-container{
        grid-row:1/2;
        grid-column:5;
        max-height: 50px;
        max-width:80px;
        justify-self:center;
    }

    .main-menu-toggle{
        display:inline-block;
        justify-self:left;
    }
    .logo1{
        justify-self:center;
    }
    .main-menu {
        display: none;
        padding:0;

    }
    .page-header .header-search{
        justify-self:right;
    }

    #RegisterNow
    {
        display:none;
    }
    #SignUpForFree
    {
        display:none;
    }
    #HiddenRegister
    {
        margin-left:12px;
    }
    #HiddenSignUp
    {
        margin-left:12px;
    }
}
.dropdown-container .dropdown-menu-label
{
    display:flex;
    flex-direction:row;
    align-items:center;
    border:none;
    white-space:nowrap;
}
.dropdown-container .dropdown-menu-items.right{
    left:auto;
    right:0;
}
.dropdown-container.show{
    display:block;
}

.dropdown-container{
    position:relative;
    margin-left:-5px;
    font-size:20px;


}
#hamburg{
    grid-column: 1/2;
    grid-row:1/2;
}
.page-header .auth-container{
    grid-row:1/2;
    grid-column:3/4;
    font-size:20px;

}
.navbar-dark .navbar-toggler{
    border:none;
}
.nav-link
{
    color:#212529;
    font-size:20px;

}
.nav-link:hover{
    border:solid;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom-color: antiquewhite;
    cursor:pointer;
    color:white;
}
#SignUpForFree.hover{
    cursor:pointer;

}
.main-menu .top-level-entry-container
{
    position:relative;
}
li{
    display:list-item;
    text-align:-webkit-match-parent;
}
.main-menu-toggle{
    padding:10px;
    cursor:pointer;
    line-height:1;
    font-weight:700;

}

.page-header main-nav{
    grid-row:1/2;
}

.main-menu{
    box-sizing:border-box;
    left:0;
    font-weight:700;
    z-index:95;
}
.main-nav{
    font-size:1rem;
}

.page-header{
    display:grid;
    column-gap:20px;
    row-gap:0px;
    position:relative;
    padding:20px;
    padding-right: 55px;
    background: darkgrey;
    font-family: Karla;
    align-content:center;
    font-size:30px;
    font-size:20px;

}


.logo {
    cursor: pointer;
}


ul {
    list-style: none;
    display: flex;
}

.main-menu-toggle{
    padding:10px;
    cursor:pointer;
    line-height:1;
}


@media screen and (max-width:767px)
{

}
#overview{
    transition: all 1s ease;
}
#overview:hover{
    background: #5f5f8d;
    transform: scale(1.04);
}
#nameSec{
    background: #bebed2;
    color: #23233b;
    transition: all 1s ease;
}
#nameSec:hover{
    transform: scale(1.03);
    color: #5a5958;
    background: #9090a5;
}




/*he*/
@media(min-width:87.9375em) {
    #page-header {
        grid-template-columns:20px 2fr 130px 120px;
        grid-column:2/4;
    }
    .page-header #main-nav1
    {
        grid-row:1/2;
        grid-column:2/3;
    }
    .page-header .header-search
    {
        grid-column:2/4;

    }

    .page-header .auth-container{
        grid-column:4/5;
        margin-right:40px;

    }
    #hamburg
    {
        display:none;
    }
    #HiddenRegister
    {
        display:none;
    }
    #HiddenSignUp
    {
        display:none;
    }
    #RegisterNow{
        grid-row:1/2;
        grid-column:3/4;
        justify-self:end;
    }
    #SignUpForFree {
        grid-row:1/2;
        grid-column:3/4;
        justify-self:end;
    }
    .page-header #loginButton{
        grid-row:1/2;
        grid-column:4/5;
        max-width:90px;
    }
    #profilepic1
    {
        grid-column: 4/5;
        z-index:999;

    }
}

@media(min-width: 63.9875em) {
    .main-menu{
        padding:0;
    }
    .header-search
    {
        max-width:200px;
    }
}
@media(min-width:47.9385em) {
    .auth-container{
        margin-top:20px;
    }
    .dropdown-container .dropdown-menu-label
    {
        padding:0 5px 5px;
    }
    .page-header
    {
        grid-template-columns: 40px 2fr 120px;
        align-items:center;
    }
    .page-header .logo1
    {
        grid-row:1/2;
        grid-column:1/2;
    }
    .page-header .main-nav{
        grid-row:2/3;
        grid-column:1/4;
    }
    .main-menu{
        position:relative;
        top:inherit;
        display:flex;
        justify-content: space-evenly;
        width:inherit;
        height:inherit;
    }
    .main-menu-toggle{
        display:none;
    }
    .page-header .header-search{
        grid-row:1/2;
        grid-column:2/3;
        justify-self:end;
    }
    .page-header .auth-container{
        grid-row:1/2;
        grid-column:3/4;
    }
    #loginButton{
        max-width:90px;

    }
    #hamburg
    {
        display:none;
    }
    #HiddenRegister
    {
        display:none;
    }
    #HiddenSignUp
    {
        display:none;
    }
}
@media(max-width:47.9385em) {

    .main-nav
    {
        grid-template-columns: 165px 2fr 80px;
        grid-column:1/4;

    }
    #navbarSupportedContent20{
        transition: all ease 1s;

    }
    .page-header .auth-container{
        grid-row:1/2;
        grid-column:5;
        max-height: 50px;
        max-width:80px;
        justify-self:center;
        margin-right:40px;

    }

    .main-menu-toggle{
        display:inline-block;
        justify-self:left;
    }
    .logo1{
        justify-self:center;
    }
    .main-menu {
        display: none;
        padding:0;

    }
    .page-header .header-search{
        justify-self:right;
    }

    #RegisterNow
    {
        display:none;
    }
    #SignUpForFree
    {
        display:none;
    }
    #HiddenRegister
    {
        margin-left:12px;
    }
    #HiddenSignUp
    {
        margin-left:12px;
    }
    #HiddenRegister:hover
    {
        border: 2px solid antiquewhite;
    }
    #HiddenSignUp:hover
    {
        border: 2px solid antiquewhite;

    }

}
.dropdown-container .dropdown-menu-label
{
    display:flex;
    flex-direction:row;
    align-items:center;
    border:none;
    white-space:nowrap;
}
.dropdown-container .dropdown-menu-items.right{
    left:auto;
    right:0;
}
.dropdown-container.show{
    display:block;
}

.dropdown-container{
    position:relative;
    margin-left:-5px;
    font-size:20px;


}
#hamburg{
    grid-column: 1/2;
    grid-row:1/2;
}
.page-header .auth-container{
    grid-row:1/2;
    grid-column:3/4;
    font-size:20px;

}
.navbar-dark .navbar-toggler{
    border:none;
}
.nav-link
{
    color:#212529;
    font-size:20px;

}
.nav-link:hover{
    border:solid;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom-color: antiquewhite;
    cursor:pointer;
    color:white;
}
#HiddenRegister #HiddenSignUp{
    border:solid;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom-color: antiquewhite;
    cursor:pointer;
    color:white;
}
#SignUpForFree.hover{
    cursor:pointer;

}

.main-menu .top-level-entry-container
{
    position:relative;
}
li{
    display:list-item;
    text-align:-webkit-match-parent;
}
.main-menu-toggle{
    padding:10px;
    cursor:pointer;
    line-height:1;
    font-weight:700;

}

.page-header main-nav{
    grid-row:1/2;
}

.main-menu{
    box-sizing:border-box;
    left:0;
    font-weight:700;
    z-index:95;
}
.main-nav{
    font-size:1rem;
}

.page-header{
    display:grid;
    column-gap:20px;
    row-gap:0px;
    position:relative;
    padding:20px;
    padding-right: 55px;
    background:purple;
    font-family: Karla;
    align-content:center;
    font-size:20px;

}

.header-search:hover
{
    transform:scale(1.04);
}
.auth-container:hover{
    transform:scale(1.04);
}
.logo {
    cursor: pointer;
}


ul {
    list-style: none;
    display: flex;
}

.main-menu-toggle{
    padding:10px;
    cursor:pointer;
    line-height:1;
}
#dropdown:hover{
    cursor: pointer;
}
#ProfilePicture
{
    cursor: pointer;

}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}