<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Sandbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type= "text/css" href = "Sandbox.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js "></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="../FirebaseCode.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="../app.js"></script>
</head>
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<body class = "mainbod" ng-app = "myApp" ng-controller = "myCont1">

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-expand-sm navbar-dark mainNavBar">
    <a class="navbar-brand" href="../HomePage/index.html"><img src = SBC-logos_transparent.png class = "home-link"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav ml-auto listOfMenus">
            <li class="nav-item linksMenu">
                <a class="nav-link linksMenu" href="../HomePage/index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link linksMenu" href="../AboutPage/AboutPage.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linksMenu" href="#">How to Access</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linksMenu" href="../ContactPage/contact.html">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Course Content
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="../HTMLContentPage/HTMLContentPage.html">HTML</a>
                    <a class="dropdown-item" href="../PythonContentPage/PythonContentPage.html">Python</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Sandbox
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="../SandboxPageHtml/Sandbox.html">HTML</a>
                    <a class="dropdown-item" href="../SandboxPagePython/Sandbox.html">Python</a>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <h5>Profile</h5>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default dropMenu"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item " href="#">Visit Profile</a>
                    <a class="dropdown-item " href="#">Assignments</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<!--<br>-->
<div class="container fadeCont">
    <div class="card helpCard">
        <div class="card-body headerCard">
            <h5 class="card-title headerEditor"><u>Python Sandbox Code Editor</u></h5>
        </div>
    </div>
</div>
<div class = "container fadeCont">
    <div class = "row justify-content-around">
        <div class = "col-8"  >
<!--            <input id="ProjectName" class="form-control codeTitle" type="text" ng-model = "name1" id= "t1" style="display: flex">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name2" id = "t2" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name3" id = "t3" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name4" id = "t4" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name5" id = "t5" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name6" id = "t6" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name7" id = "t7" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name8" id = "t8" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name9" id = "t9" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name10" id = "t10" style="display: none">-->
        </div>
    </div>
</div>
<br>

<!--<br>-->

<!--<div class = "container">-->
<!--    <div class = "row">-->
<!--        <div class="card instructionsCard">-->
<!--            <div class="card-body instructionsCard">-->
<!--                <h4>How it Works</h4>-->
<!--                <p>Use our sandbox editor to test out your own ideas and expand on your knowledge! Running out of ideas? Refer to our Project Ideas at the bottom of this page that you can try and test yourself with! Once you're done, click the red "Run it!" button and watch your code come to life in the output screen on the right!</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->

<!--<br>-->
<div id="SubmitProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content POPUP">
<!--            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Name Your Project</h4>
            <div class="modal-body">
                <input class="ProjectName" type="text" id = "ProjectName" style="display: flex">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" ng-click= "SaveChanges()" class="btn btn-default" data-dismiss="modal" > Done </a></button>
            </div>
        </div>
    </div>
</div>

<div class = "container-fluid maincont ">
    <div class = "row my-row no-gutters" style="margin: 0">
        <div class = "col-5 no-gutters" >
            <div class = "leftside">
                <div id="editor"> #Put your code in here</div>
                <div id=" compilescreen">
                    <script src="ace.js" type="text/javascript" charset="utf-8"></script>
                    <script>
                        var editor = ace.edit("editor");
                        editor.setTheme("ace/theme/dracula");
                        editor.session.setMode("ace/mode/python");
                    </script>
                    <script src="Sandbox.js"></script>
                </div>
            </div>
        </div>
        <div class = "col-4 no-gutters">
            <div class = "rightside">
                <textarea class= "outputScreen" id = "outputScreen" readonly>--> Code Output</textarea>
            </div>
        </div>
        <div class = "col-3" style="background: #ebefeb;text-align: center; font-family: Karla; border: 4px solid #23233b">
            <h3 style="text-align: center"><b><u>Projects</u></b></h3>
            <small>Access previous projects in this directory!</small>
            <button class = "btn-primary projectLoadButtons active" ng-click="DisplayProjects()" ng-init="LoadProject()" onclick="chooseActive(1) " id = "Project1" ng-model = "name1">{{name1}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(2) " id = "Project2" ng-model = "name2"> {{name2}} </button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(3) " id = "Project3" ng-model = "name3"> {{name3}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(4) " id = "Project4" ng-model = "name4"> {{name4}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(5) " id = "Project5" ng-model = "name5"> {{name5}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(6) " id = "Project6" ng-model = "name6"> {{name6}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(7) " id = "Project7" ng-model = "name7"> {{name7}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(8) " id = "Project8" ng-model = "name8"> {{name8}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(9) " id = "Project9" ng-model = "name9"> {{name9}}</button>
            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(10) " id = "Project10" ng-model = "name10"> {{name10}}</button>
        </div>
        <script type="text/javascript">
                $scope.LoadProjects();
        </script>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>

<div class = "container buttonCont">
    <div class = "row buttonRow justify-content-around">
        <div class="col-6 colButton">
            <button class="btn btn-primary CompileButton" ng-click="SaveProject()" data-toggle="modal" data-target="#SubmitProject" id = "SaveButton" type="submit">Save It!</button>
        </div>
        <div class="col-6 colButton">
            <button class="btn btn-primary CompileButton" id = "CompileButton" type="submit">Run It!</button>
        </div>
    </div>
</div>

<div class="container">

    <div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Project One</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Project Two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Project Three</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Four" aria-selected="false">Project Four</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tabContent" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">Project Idea One</h5>
                <p class="card-text">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                <h5 class="card-title">Project Idea Two</h5>
                <p class="card-text">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                <h5 class="card-title">Project Idea Three</h5>
                <p class="card-text">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
                <h5 class="card-title">Project Idea Four</h5>
                <p class="card-text">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>

        </div>


    </div>
</div>


<br><br>
<footer id="sticky-footer" class="py-4  FOOTER text-white-50">
    <div class="container  text-center">
        <div class = "row">
            <div class = "col-4">
                <h5>2020 Copyright: Saving By Coding</h5>
                <p>Make a difference in your life</p>
            </div>
            <div class = "col-4 linksColFooter">
                <small><a class = "Links" href="#">Home Page</a></small><br>
                <small><a class = "Links" href="#">About Us</a></small><br>
                <small><a class = "Links" href="#">How to Access</a></small><br>
                <small><a class = "Links" href="#">HTML</a></small><br>
                <small><a class = "Links" href="#">Python</a></small><br>
            </div>
            <div class = "col-4"></div>
        </div>
    </div>
</footer>
</body>
</html>
