* {
    font-family: Karla !important;
}

.breadcrumb-item.active {
    color: white !important;
}

.loadingCol {
    text-align: center;
}

.btn-primary {
    color: white !important;
}

/* Loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007BFF;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.4s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.4s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.card {
    width: 100%;
}

.card-body {
    position: relative;
}

.enterButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: antiquewhite !important;
    border: 0;
    font-size: 14px;
    color: black !important;
}

.enterButton:hover {
    background: rgba(250, 235, 215, 0.7) !important;
    color: black !important;
}

.enterButton:active {
    background: rgba(250, 235, 215, 0.4) !important;
    color: black !important;
}
