<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="../navbarCSS.css">
    <link rel="stylesheet" href="lessondirectory.css" type="text/css">
    <link rel="icon" href="../LogoWithoutWords.png">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js "></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="../FirebaseCode.js"></script>
    <script src="../redirectToLogin.js"></script>
    <script src = "../navigationLinks.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164071846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-164071846-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRWFR3P');</script>
    <!-- End Google Tag Manager -->
    <title>Lesson Directory</title>
</head>
<body ng-app = "myApp" style="background: antiquewhite;">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRWFR3P"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--Navbar -->
<header class="page-header navbar navbar-expand-lg navbar-dark navBar" id="page-header" id="page-header" ng-controller = "myCont1" style="background:#8f92b4; display:grid;">
    <button  class="ghost navbar-toggler first-button main-menu-toggle" id="hamburg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href = "/Platform/public/index.html" class="logo1">
        <img id = "logo1" ng-src={{logo}} style="height: 100px"></a>
    <nav class="main-nav" id="main-nav1">
        <!--    <button type="button" class="ghost main-menu-toggle" aria-haspopup="true" aria-label="Show Menu">  </button>-->

        <ul class="main-menu navbar-collapse"  id="navbarSupportedContent20">
            <li class="top-level-entry-container">
                <a class="nav-link active" id = "m1" href="#" ng-model = "menuName1">{{menuName1}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="top-level-entry-container nav-item active">
                <a class="nav-link" id = "m2" href="#" ng-model = "menuName2"> {{menuName2}}</a>
            </li>
            <li class="top-level-entry-container nav-item">
                <a class="nav-link" id = "m4" href="#" ng-model = "menuName4">{{menuName4}}</a>

            </li>
            <li style="position:relative">
                <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{menuName3}}
                </a>
                <div class="dropdown-menu nav-item" style="position:absolute; left:0; top:100%; width:auto; font-size:17px;"  aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-model = "menuName5" id="m5">{{menuName5}}</a>
                    <a class="dropdown-item" href="#" ng-model = "menuName6" id = "m6">{{menuName6}}</a>
                </div>
            </li>
            <li style="position:relative">
                <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{sandbox}}
                </a>
                <div class="dropdown-menu nav-item dropdown-menu-items right" style="position:absolute;  font-size:17px; left:0; top:100%;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="" id="s1">{{sand1}}</a>
                    <a class="dropdown-item" href="" id = "s2">{{sand2}}</a>
                </div>
            </li>
            <li  class="top-level-entry-container nav-item active" >
                <button class = "btn btn-primary registerButton" id="HiddenRegister" onClick = "registerNow()" style="background: transparent; font-size:20px; padding:4px;  color: #23233b; border: transparent"><b>Register Now</b></button>
            </li>
            <li  class="top-level-entry-container nav-item active">
                <button class = "btn btn-primary" id="HiddenSignUp" onClick = "signUpNow()" style="background: transparent; font-size:20px; padding:4px; color: #23233b; border: transparent"><b>Sign Up</b></button>
            </li>
        </ul>
    </nav>
    <button class = "btn btn-primary header-search" id="SignUpForFree" onClick = "signUpNow()" style=" font-size:20px; margin-top:0px; background: antiquewhite; color: #23233b; border: transparent;" >Sign Up</button>
    <button class = "btn btn-primary  header-search" id="RegisterNow" onClick = "registerNow()" style=" font-size:20px; margin-top:0px; background: antiquewhite; color: #23233b; border: transparent ">Register Now</button>
    <button class = "btn btn-primary  auth-container"  id="loginButton" onClick= "loginNow()" style="background: antiquewhite;  font-size:20px; margin-top:0px; color: #23233b; border: transparent">  Login </button>
    <div class="auth-container dropdown-container" id="profilepic1" >
        <button class="dropdown-menu-label dropdown-toggle" data-toggle="dropdown" id="user-avatar-menu" type="button" aria-haspopup="true" style="background:transparent; cursor:pointer; border:none">
            <img id="ProfilePicture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpJQyPJzRtki3nmi0X00gDx-9inOL2It8-yID8bZzrfyTr_ML3&usqp=CAU" style="border-radius: 50%; width: 60px; height: 60px" class="center ">
        </button>
        <ul class="dropdown-menu-items right" id="dropdown" aria-expanded="false" role="menu" style=" left:auto;right:0;margin-right:-10px;">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:17px;">

                <a class="dropdown-item" style="font-size:17px;"href="" id="d1">{{dropdown1}}</a>
                <div class="dropdown-divider" style="font-size:17px;"id="divider1"></div>
                <a class="dropdown-item"style="font-size:17px;" onclick="SignOut()" href="" id="d4">{{dropdown4}}</a>
                <a class="dropdown-item" style="font-size:17px;" href="" id="d6">{{dropdown6}}</a>
            </div>
            </li>
        </ul>
    </div>
</header>
<!--/.Navbar -->
    <br/>
    <div ng-controller="AppController">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-white bg-dark mb-3">
                    <li class="breadcrumb-item" ng-repeat="component in directory" ng-class="{'active': $index == directory.length - 1}">
                        <a>{{component}}</a>
                    </li>
                </ol>
            </nav>
            <div class="grid row equal">
                <div class="col-sm-12 loadingCol" ng-hide="items">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="col-sm-4 d-flex pb-3" ng-repeat="item in items">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <small style="text-align: right">{{item.isArchived}}</small>
                            <h5 class="card-title"><b>{{item.name}}</b></h5>
                            <p class="card-text">{{item.description}}</p>
                            <a class="btn btn-primary" style="visibility: hidden;">Enter</a> <!-- Fake button -->
                            <a class="btn btn-primary enterButton" ng-click="switchView($index)" ng-class="{'disabled': item.disabled}">Enter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

    <script src="../navigationLinks.js"></script>
    <script src="lessondirectory.js"></script>
</body>
</html>
