<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type= "text/css" href = "Sandbox.css">
    <link rel = "stylesheet" type="text/css" href="../navbarCSS.css">
    <link rel="icon" href="../LogoWithoutWords.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js "></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>
    <script src="../FirebaseCode.js"></script>
    <script src="../redirectToLogin.js"></script>
    <script src="../navigationLinks.js"></script>
    <script src="Sandbox.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164071846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-164071846-1');
    </script>
    <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRWFR3P');</script>
    <!-- End Google Tag Manager -->
</head>
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<body class = "mainbod" ng-app = "myApp" >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRWFR3P"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--Navbar -->
<header class="page-header navbar navbar-expand-lg navbar-dark navBar" id="page-header" id="page-header" ng-controller = "myCont1" style="background:#8f92b4; display:grid;">
    <button  class="ghost navbar-toggler first-button main-menu-toggle" id="hamburg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href = "/Platform/public/index.html" class="logo1">
        <img id = "logo1" ng-src={{logo}} style="height: 100px"></a>
    <nav class="main-nav" id="main-nav1">
        <!--    <button type="button" class="ghost main-menu-toggle" aria-haspopup="true" aria-label="Show Menu">  </button>-->

        <ul class="main-menu navbar-collapse"  id="navbarSupportedContent20">
            <li class="top-level-entry-container">
                <a class="nav-link active" id = "m1" href="#" ng-model = "menuName1">{{menuName1}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="top-level-entry-container nav-item active">
                <a class="nav-link" id = "m2" href="#" ng-model = "menuName2"> {{menuName2}}</a>
            </li>
            <li class="top-level-entry-container nav-item">
                <a class="nav-link" id = "m4" href="#" ng-model = "menuName4">{{menuName4}}</a>

            </li>
            <li style="position:relative">
                <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{menuName3}}
                </a>
                <div class="dropdown-menu nav-item" style="position:absolute; left:0; top:100%; width:auto; font-size:17px;"  aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-model = "menuName5" id="m5">{{menuName5}}</a>
                    <a class="dropdown-item" href="#" ng-model = "menuName6" id = "m6">{{menuName6}}</a>
                </div>
            </li>
            <li style="position:relative">
                <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model = "dropdownName">
                    {{sandbox}}
                </a>
                <div class="dropdown-menu nav-item dropdown-menu-items right" style="position:absolute;  font-size:17px; left:0; top:100%;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="" id="s1">{{sand1}}</a>
                    <a class="dropdown-item" href="" id = "s2">{{sand2}}</a>
                </div>
            </li>
            <li  class="top-level-entry-container nav-item active" >
                <button class = "btn btn-primary registerButton" id="HiddenRegister" onClick = "registerNow()" style="background: transparent; font-size:20px; padding:4px;  color: #23233b; border: transparent"><b>Register Now</b></button>
            </li>
            <li  class="top-level-entry-container nav-item active">
                <button class = "btn btn-primary" id="HiddenSignUp" onClick = "signUpNow()" style="background: transparent; font-size:20px; padding:4px; color: #23233b; border: transparent"><b>Sign Up</b></button>
            </li>
        </ul>
    </nav>
    <button class = "btn btn-primary header-search" id="SignUpForFree" onClick = "signUpNow()" style=" font-size:20px; margin-top:0px; background: antiquewhite; color: #23233b; border: transparent;" >Sign Up</button>
    <button class = "btn btn-primary  header-search" id="RegisterNow" onClick = "registerNow()" style=" font-size:20px; margin-top:0px; background: antiquewhite; color: #23233b; border: transparent ">Register Now</button>
    <button class = "btn btn-primary  auth-container"  id="loginButton" onClick= "loginNow()" style="background: antiquewhite;  font-size:20px; margin-top:0px; color: #23233b; border: transparent">  Login </button>
    <div class="auth-container dropdown-container" id="profilepic1" >
        <button class="dropdown-menu-label dropdown-toggle" data-toggle="dropdown" id="user-avatar-menu" type="button" aria-haspopup="true" style="background:transparent; cursor:pointer; border:none">
            <img id="ProfilePicture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpJQyPJzRtki3nmi0X00gDx-9inOL2It8-yID8bZzrfyTr_ML3&usqp=CAU" style="border-radius: 50%; width: 60px; height: 60px" class="center ">
        </button>
        <ul class="dropdown-menu-items right" id="dropdown" aria-expanded="false" role="menu" style=" left:auto;right:0;margin-right:-10px;">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:17px;">

                <a class="dropdown-item" style="font-size:17px;"href="" id="d1">{{dropdown1}}</a>
                <div class="dropdown-divider" style="font-size:17px;"id="divider1"></div>
                <a class="dropdown-item"style="font-size:17px;" onclick="SignOut()" href="" id="d4">{{dropdown4}}</a>
                <a class="dropdown-item" style="font-size:17px;" href="" id="d6">{{dropdown6}}</a>
            </div>
            </li>
        </ul>
    </div>
</header>
<!--/.Navbar -->

<!--&lt;!&ndash;modal to load projects&ndash;&gt;-->
<!--<div id="myModal" class="modal fade" style="background: rgba(250,235,215,0.5)" data-backdrop = "static">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header" style="background: #23233b">-->
<!--                <h4 class="modal-title" style="font-family: Karla;color: antiquewhite">Welcome to the Python Sandbox Page!</h4>-->
<!--            </div>-->
<!--            <div class="modal-body" style="background: #23233b">-->
<!--                <p style="font-family: Karla; color: antiquewhite">Load your projects before accessing this page!</p>-->
<!--                <button class = "btn-primary" ng-click = "DisplayProjects()" data-dismiss="modal" style="font-family: Karla;color: #23233b;background: antiquewhite; border: transparent; border-radius: 5px">Load Projects!</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--end-->

<!--<br>-->
<br>
<div class="container fadeCont">
    <div class="card helpCard">
        <div class="card-body headerCard"><br>
            <h2 class="card-title headerEditor"><b>Python Sandbox Code Editor</b></h2><br>
        </div>
    </div>
</div>
<div class = "container fadeCont">
    <div class = "row justify-content-around">
        <div class = "col-8"  >
<!--            <input id="ProjectName" class="form-control codeTitle" type="text" ng-model = "name1" id= "t1" style="display: flex">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name2" id = "t2" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name3" id = "t3" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name4" id = "t4" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name5" id = "t5" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name6" id = "t6" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name7" id = "t7" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name8" id = "t8" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name9" id = "t9" style="display: none">-->
<!--            <input class="form-control codeTitle" type="text" ng-model = "name10" id = "t10" style="display: none">-->
        </div>
    </div>
</div>
<br>

<!--<br>-->

<!--<div class = "container">-->
<!--    <div class = "row">-->
<!--        <div class="card instructionsCard">-->
<!--            <div class="card-body instructionsCard">-->
<!--                <h4>How it Works</h4>-->
<!--                <p>Use our sandbox editor to test out your own ideas and expand on your knowledge! Running out of ideas? Refer to our Project Ideas at the bottom of this page that you can try and test yourself with! Once you're done, click the red "Run it!" button and watch your code come to life in the output screen on the right!</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->

<!--<br>-->
<div id="SubmitProject" class="modal fade" role="dialog"ng-controller="PYTHONSandbox">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content POPUP">
<!--            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Name Your Project</h4>
            <div class="modal-body">
                <input class="ProjectName" ng-model="currentProjectName" type="text" id = "ProjectName" style="display: flex">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" ng-click="saveProject()"  class="btn btn-default" data-dismiss="modal" >Done </a></button>
            </div>
        </div>
    </div>
</div>

<div id="WrongCode" class="modal fade" role="dialog"ng-controller="PYTHONSandbox">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content POPUP">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Project Loading Error</h4>
            <div class="modal-body">
                You tried loading a HTML project into the Python sandbox
            </div>
            <div class="modal-footer justify-content-center">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ><a href="../SandboxPageHtml/Sandbox.html"> HTML Sandbox</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class = "container-fluid maincont "ng-controller="PYTHONSandbox">
    <div class = "row my-row no-gutters" style="margin: 0">
        <div class = "col-5 no-gutters" >
            <div class = "leftside">
                <div id="editor"> #Put your code in here</div>
                <div id=" compilescreen">
                    <script src="ace.js" type="text/javascript" charset="utf-8"></script>
                    <script src="ext-language_tools.js"></script>
                    <script>
                        ace.require("ace/ext/language_tools");
                        var editor = ace.edit("editor");
                        editor.setTheme("ace/theme/dracula");
                        editor.session.setMode("ace/mode/python");
                        editor.setShowPrintMargin(false);
                        editor.setOptions({
                            enableBasicAutocompletion: true,
                            enableSnippets: true,
                            enableLiveAutocompletion: false
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class = "col-4 no-gutters">
            <div class = "rightside">
                <textarea class= "outputScreen" id = "outputScreen" readonly>--> Code Output</textarea>
            </div>
        </div>
        <div class = "col-3" id = "projects" style="background: #23233b;text-align: center; font-family: Karla; " ng-controller="PYTHONSandbox">
            <br><h3 style="text-align: center;color: antiquewhite"><b><u>Projects</u></b></h3>
            <small style="color: antiquewhite">Access previous projects in this directory!</small><br><br>

            <label for = "createBtn" style="color:antiquewhite;">Create Project</label>
            <button id = "createBtn" class="btn btn-danger btn-circle btn-circle-lg m-1" data-toggle="modal" data-target="#createProjModal" >+</button><br><br>
            <div style="border-bottom: 3px solid antiquewhite"></div>
<!--            <button class = "btn-primary projectLoadButtons active" ng-click="DisplayProjects()"  onclick="chooseActive(1) " id = "Project1" ng-model = "name1">{{name1}}<br>({{lang1}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(2) " id = "Project2" ng-model = "name2"> {{name2}}<br>({{lang2}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(3) " id = "Project3" ng-model = "name3"> {{name3}}<br>({{lang3}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(4) " id = "Project4" ng-model = "name4"> {{name4}}<br>({{lang4}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(5) " id = "Project5" ng-model = "name5"> {{name5}}<br>({{lang5}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(6) " id = "Project6" ng-model = "name6"> {{name6}}<br>({{lang6}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(7) " id = "Project7" ng-model = "name7"> {{name7}}<br>({{lang7}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(8) " id = "Project8" ng-model = "name8"> {{name8}}<br>({{lang8}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(9) " id = "Project9" ng-model = "name9"> {{name9}}<br>({{lang9}})</button>-->
<!--            <button class = "btn-primary projectLoadButtons" ng-click="DisplayProjects()" onclick="chooseActive(10) " id = "Project10" ng-model = "name10"> {{name10}}<br>({{lang10}})</button>-->
            <div class="card" id = "project{{$index}}"  ng-click="displayProject($index)" ng-repeat="project in projects" style="border-bottom: 3px solid antiquewhite ">
                <div class="card-body">
                    <div class= "row justify-content-around">
                        <div class = "col-5">
                            <div class = "row justify-content-around">
                            <h4 style="background: #ececf3;border-radius: 15px">&nbsp;&nbsp;{{project.name}}&nbsp;&nbsp;</h4>
                            </div><br>
                            <div class = "row justify-content-around" id = "date{{$index}}" style="background: #ececf3;border-radius: 15px">
                                Created: {{project.date.toDate().getMonth()}}/{{project.date.toDate().getDate()}} at {{project.date.toDate().getHours()}}:{{project.date.toDate().getMinutes()}}
                            </div>
                        </div>
                        <div class = "col-5"><br>
                            <div class = "row justify-content-around">
                                <img class = "trash" src="../trashcan.png" id = "trashBtn{{$index}}" ng-click="deleteConfirm($index)">
                            </div>
                            <br>
                            <div class = "row justify-content-around">
                                <button class="btn btn-primary saveBTN" id = "saveBtn{{$index}}" ng-click="saveProject($index)">Save Project</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>


<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background: #bebed2">
            <div class="modal-body" style="font-family: Karla">
                <h1>Confirm Delete?</h1>
                <h3 style="color: #E32c2c">Once deleted, the project can never be recovered again!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background: #E32c2c;font-family: Karla" data-dismiss="modal" id = "delete">Delete</button>
                <button type="button" class="btn btn-default" style="font-family: Karla" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="createProjModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" ng-controller = "PYTHONSandbox">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: #bebed2; font-family: Karla;color: #23233b">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Create New Project</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Projects once named cannot be renamed!</h6>
                <br>
                <label for = "ProjName" style="font-size: 25px">Name: </label>
                <input id = "ProjName" style="font-size: 25px" type = "text" placeholder="Enter Project Name" ng-model="new.project.name">
                <br><br>
                <button type="button" class="btn " data-dismiss="modal" ng-click="createProject()" style="font-size: 20px" >Create</button>
            </div>
        </div>
    </div>
</div>

<div class = "container buttonCont">
    <div class = "row buttonRow justify-content-around">
        <div class="col-12 colButton">
            <button class="btn btn-primary CompileButton" id = "CompileButton" type="submit">Run It!</button>
        </div>
    </div>
</div>

<div class="container">

    <div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Project One</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Project Two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Project Three</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Four" aria-selected="false">Project Four</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tabContent" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">Project Idea One</h5>
                <p class="card-text">Create a program that inputs a number and then finds the prime factors of that number. Remember to take advantage of mathematical operations and conditionals. Print out the factors at the end of the program.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                <h5 class="card-title">Project Idea Two</h5>
                <p class="card-text">Write a function that represents the count function. This program will take in a string and letter, and print out the number of times the letter appears in the word. Of course, you may not use the count function.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                <h5 class="card-title">Project Idea Three</h5>
                <p class="card-text">Create a program that takes a certain number of integers and floats. Then calculate the mean, median, and mode of the list. Print the three values out. </p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>
            <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
                <h5 class="card-title">Project Idea Four</h5>
                <p class="card-text">Create a rock, paper, scissors game. To do so, you will need to research and implement a random number generator in python. Once you do so, you will be able to create numerous games, with rock, paper, and scissors being one of the most basic ones.</p>
                <a href="#" class="btn btn-primary projectButton">See Full Project</a>
            </div>

        </div>


    </div>
</div>


<br><br>
<footer id="sticky-footer" class="py-4  FOOTER text-white-50" ng-controller = "MyCont2" style="border-top: 10px solid #23233b">
    <div class="container  text-center">
        <div class = "row">
            <div class = "col-4" style="font-family:Karla;color: #23233b">
                <h5>2020 Copyright: Saving By Coding</h5>
                <p>Make a difference in your life</p>
            </div>
            <div class = "col-4 linksColFooter">
                <small><a class = "Links" href="#" id = "f1" mg-model = "footerMenuName1">{{footerMenuName1}}</a></small><br>
                <small><a class = "Links" href="#" id = "f2" mg-model = "footerMenuName2">{{footerMenuName2}}</a></small><br>
                <small><a class = "Links" href="#" id = "f3" mg-model = "footerMenuName3">{{footerMenuName3}}</a></small><br>
                <small><a class = "Links" href="#" id = "f4" mg-model = "footerMenuName4">{{footerMenuName4}}</a></small><br>
                <small><a class = "Links" href="#" id = "f5" mg-model = "footerMenuName5">{{footerMenuName5}}</a></small><br>
                <small><a class = "Links" href="#" id = "f6" mg-model = "footerMenuName6">{{footerMenuName6}}</a></small><br>
            </div>
            <div class = "col-4">
                <div style="background: #dce1e8;border-radius: 15px">
                    <img id = "instalogo" src="../instalogo.png" style="height: 60px;">
                    <label style="font-family: Karla; color: #23233b;font-size: 20px" for = "instalogo"><a href="https://www.instagram.com/codeology.sbc/">&nbsp;Find Us on Instagram!</a></label>
                </div>
                <br>
                <div style="background: #dce1e8;border-radius: 15px">
                    <img id = "facebooklogo" src="../facebooklogo.png" style="height: 60px;">
                    <label style="font-family: Karla; color: #23233b;font-size: 20px" for = "facebooklogo">  <a href="https://www.facebook.com/codeology.sbc/">Add Us on Facebook!</a></label>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
