<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Lesson</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="viewlesson.css" type="text/css">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js "></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="../FirebaseCode.js"></script>
</head>
<body ng-app="SBCViewLesson" ng-controller="AppController">
    <br />
    <div class="container">
        <div class="grid row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Course Directory</a></li>
                        <li class="breadcrumb-item"><a>{{course.name}}</a></li>
                        <li class="breadcrumb-item"><a>{{unit.name}}</a></li>
                        <li class="breadcrumb-item"><a>{{name}}</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="stickyCardContainer sticky-top">
                    <button class="btn btn-outline-primary" ng-click="visitCourseDirectory()" style="width: 100%;">< Course Directory</button>
                    <br><br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="list-group">
                    <a class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <b>Assignments</b>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" ng-repeat="assignment in assignments">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{assignment.name}}</h5>
                        </div>
                        <p class="mb-1">{{assignment.description}}</p>
                        <small class="text-muted">{{assignment.status}}</small>
                    </a>
                </div>
                <br />
                <div class="list-group">
                    <a class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <b>Resources</b>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" ng-repeat="resource in resources">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{resource.name}}</h5>
                        </div>
                        <p class="mb-1">{{resource.description}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

    <script src="viewlesson.js"></script>
</body>
</html>
