.eventContainer {
    position: relative;
}

.eventName {
    text-transform: uppercase;
    margin-bottom: 0px !important;
    color: white !important;
}

.eventTime {
    margin-bottom: 8px !important;
    font-size: 13px;
}

.eventDescription {
    font-size: 14px;
}

.arrowIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #faebd7;
    transition: 0.2s ease color;
    cursor: pointer;
}

.arrowIcon:hover {
    color: rgba(250, 235, 215, 0.6);
}

.arrowIcon:active {
    color: rgba(250, 235, 215, 0.3);
}
